In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('Restaurant_Reviews.tsv',delimiter = '\t', quoting = 3)

In [3]:
dataset.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [4]:
#importing re library to remove punctuations
import re

In [11]:
#importing nltk library to remove the stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\smkz2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
#importing porter stemmer for stemming the base words
from nltk.stem import PorterStemmer

In [13]:
#empty list to accomodate the final words from all the reviews
corpus = []

In [14]:
dataset.value_counts().sum()

1000

In [17]:
for i in range (0,dataset.value_counts().sum()):
    review = re.sub('[^a-zA-Z]',' ',dataset['Review'][i])
    review = review.lower()
    review = review.split()
    ps = PorterStemmer()
    all_stopwords = stopwords.words('english')
    all_stopwords.remove('not')
    review = [ps.stem(word) for word in review if not word in all_stopwords]

In [18]:
review

['wast',
 'enough',
 'life',
 'pour',
 'salt',
 'wound',
 'draw',
 'time',
 'took',
 'bring',
 'check']